.gameSpace {
    text-align: center;
    margin: auto;
}

.grid-item {
    border: 1px solid black;
    padding: 20px;
    font-size: 2em;
    text-align: center;
    cursor: grab;
    
}
.grid-item:hover{
    background-color: lightsteelblue;
}

button{
    padding:10px;
    text-align: center;
    color:white;
    background-color: green;
    font-size: 22px;
}
.list, input[type="number"]{
    text-align: center;
    font-size: 22px;
}
input[type="number"]{
    width:80px;
    font-size: 50px;
} 
.grid{
    display: grid;
}